<div class="well">
    <h2>Rubros del Efectivo</h2>
</div>



<div class="vertical-space">

    <div class="input-group">
        <input type="text" #search id="search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button" id="add-button" routerLink='./add' title="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
    </div>
    
</div>


<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of filteredItems">
         {{item.signo}} &nbsp; {{item.rubro}}  
        <button class="btn btn-danger btn-xs pull-right" (click)="delete(item.$key)" title="Eliminar"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-warning btn-xs pull-right" [routerLink]="['edit', item.$key]" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
    </li>
</ul>


<router-outlet></router-outlet>


<!--[rows] = "abmMapper.listVM.length" (pageChange)="onPageChange($event)"-->