.btn{
    margin-left: 10px;
}
.vertical-space{
    margin-top: 10px;
    margin-bottom: 10px;
}

#search{
    /*min-width: 300px;*/
    display: inline-block;
}

#outer-search{
    padding-right:50px;
}

#add-button{
    margin-left:10px;
}